*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.box{
    background-color: yellowgreen;
    height: 200px;
    width: 200px;
    margin: 10px;
    transition: all 1s linear;
}
.ease-in{
    transition: all 1s ease-in;
}
.ease{
    transition: all 1s ease;
}
.box:hover {
    background-color: black;
    transform: scale(1.1) rotate(3deg);
}
.ball{
    height: 100PX;
    width: 100PX;
    background-color: violet;
    border-radius: 50%;
    animation: rebotar 3s infinite alternate ease;
}
@keyframes rebotar {
    0%{
        transform: translateY(0px); scale(1);
        background-color: white;
    }
    100%{
        transform: translateY(-200px) scale(10);
        background-color: black;
    }
}